# Sao chép file này thành .env và điền giá trị từ Supabase (Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://cxrbeeknbigkrwzotxcz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_2kOa1fTwN57an3Gijez9dQ_9QmB2uOx
